    <style>
        @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

.changeColor{
  background-color: #AAAAAA;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    </style>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8" style="background-color:#DEE2E5; ; border-radius: 5px;">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">Sub Total </h6>
                  </div>
                  <hr class="my-4">



{{!-- cartproducts --}}
{{#each cart}}


          
                  <div class="row mb-4 d-flex justify-content-between align-items-center">

                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img style="height: 50px;"
                        src="/assets/products/{{this.product.image}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                        
                  
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2">
                   
                      <h6 class="text-black mb-0">{{this.product.name}}</h6>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2">
                   
                      <h6 class="text-black mb-0">{{this.product.price}}</h6>
                    </div>

                  

                 
                    <div class="col-md-2 col-lg-2 col-xl-3 d-flex" style="display: flex; align-items: center; justify-content: center;">
                                           
                  <button class="btn" style="background-color: #FFC221;" id="btn{{this.product._id}}" 

                    onclick="changeQuantity('{{this.product._id}}',-1,{{this.count}})">
                    -
                  </button>

                  <div class="form-outline">
                    
                    <h2 id="{{this.product._id}}" style="margin-left: 20px; margin-right: 20px;">{{this.count}}</h2>
                  </div>

                  <button class="btn" style="background-color: #FFC221;" 
                    onclick="changeQuantity('{{this.product._id}}',1,{{this.count}})">
                    +
                  </button>

                    </div>


                    <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                    
                        <a onclick="return confirm('Are you Sure Want to delete {{this.product.name}} ?')" href="/cart/deleteCart/{{this.product._id}}">
                     
                      
                     <span id="total{{this.product._id}}" >{{this.total}}</span>
                    
                  
                    
                    </div>
                   

                       <div class="col-md-2 col-lg-2 col-xl-1 text-end">
<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                      </a>
                       </div>


                   

                  </div>

                  <hr class="my-4">
                  {{/each}}

                 {{!-- cartProducts --}}

                  

                

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 " style="background-color: #3F66DA;">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items - <span id="items">3</span></h5>
                    <h5 id="subtotal"></h5>
                  </div>


                  <div class="d-flex justify-content-between mb-4">
                    <h5  class="text-uppercase">Discount</h5>
                    <h5 id="discount"></h5>
                  </div>


                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Coupons for you</h5>
                    <h5>0</h5>
                  </div>


                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Delivery Charges</h5>
                    <h5> 5 </h5>
                  </div>

                 

                  

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5 id="totalprice">€ 137.00</h5>
                  </div>

                  <a type="button" class="btn btn-primary btn-block btn-lg"
                    data-mdb-ripple-color="dark" style="background-color: none;" href="/cart/checkout">Checkout</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>


  
  async function changeQuantity(proId,count){


       var qty = parseInt(  document.getElementById(proId).innerHTML)
      
       console.log(qty,count)
       if(qty<2&&count==-1){

             document.getElementById(`btn${proId}`).classList.add("changeColor")
       }
       else{
         document.getElementById(`btn${proId}`).classList.remove("changeColor")

      await fetch(`http://localhost:3000/cart/changeQuantity?proId=${proId}&&count=${count}`).then(function(data){
        fetch('http://localhost:3000/cart/cartcount').then((res)=>{
            return res.json()
         }).then((data)=>{
            document.getElementById("items").innerHTML = data.count ;
            document.getElementById("subtotal").innerHTML = data.subTotal
            document.getElementById("discount").innerHTML = data.discount
            document.getElementById("totalprice").innerHTML = data.totalPrice

            
         })
        return data.json()

      }).then((result)=>{
     const quantity=parseInt(document.getElementById(proId).innerHTML);
      document.getElementById(proId).innerHTML=quantity+count
      console.log(result.total)
      document.getElementById(`total${proId}`).innerHTML = result.total;
      
               
      })
       }
}





 fetch('http://localhost:3000/cart/cartcount').then((res)=>{
            return res.json()
         }).then((data)=>{
            document.getElementById("items").innerHTML = data.count ;
            document.getElementById("subtotal").innerHTML = data.subTotal
            document.getElementById("discount").innerHTML = data.discount
            document.getElementById("totalprice").innerHTML = data.totalPrice

            
         })



</script>